#!/usr/bin/env python
PACKAGE = "local_planner"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

debug = gen.add_group("Debug")
debug.add("Pub_PCloud_AtWorld",   bool_t,   0, "Set true to publish the transformed Point Cloud at World",  False)
debug.add("Pub_OccupMatrix_AtWorld",   bool_t,   0, "Set true to publish the buffered Occupancy Matrix at World",  False)
debug.add("Pub_OccupMatrix_AtLocal",   bool_t,   0, "Set true to publish the transformed Occupancy Matrix at Local",  False)

exit(gen.generate(PACKAGE, "local_planner", "localPlanner"))
