<!-- 
	Global Planner Main Neo launcher for simulations 
	(Simulator + Trajectory Tracker + Global Planner)
-->

<launch>
  
	<arg name="mav_name" default="euroc5"/>
	<arg name="namespace" default="$(arg mav_name)" /> 

	<group ns="$(arg namespace)" >
		<!-- Odometry topic-->
		<arg name="odometry_topic" 		default="odometry_sensor1/odometry"/>
		
		<!-- Yaw angular velocity -->
		<arg name="w_yaw" default="0.4"/>
		
		<!-- Trajectory Tracker --> 
		<include file="$(find trajectory_tracking)/launch/trajectory_tracker.launch">
			<arg name="odometry_topic" 		value="$(arg odometry_topic)" />
			<arg name="sim" 				value="true" />
			<arg name="exec_rate" 			value="50.0"/>		# Node execution rate [Hz]
			<arg name="m_x_model" 			value="3.4"/>		# Max slope at Xb axis [m/s2]
			<arg name="m_y_model" 			value="2.7"/>		# Max slope at Yb axis [m/s2]
			<arg name="m_z_model" 			value="2.0"/>		# Max slope at Zb axis [m/s2]
			<arg name="To_x_model" 			value="0.2"/>		# Response delay at Xb axis [sec]
			<arg name="To_y_model" 			value="0.2"/>		# Response delay at Xb axis [sec]
			<arg name="To_z_model" 			value="0.2"/>		# Response delay at Xb axis [sec]
			<arg name="H_pos_rate_limiter" 	value="2.0"/>		# Position rate limiter at XYb axis [m/s]
			<arg name="V_pos_rate_limiter" 	value="2.0"/>		# Position rate limiter at XYb axis [m/s]
			<arg name="H_vel_rate_limiter" 	value="1.0"/>		# Velocity rate limiter at XYb axis [m/s2]
			<arg name="V_vel_rate_limiter" 	value="1.0"/>		# Velocity rate limiter at Zb axis [m/s2]
			<arg name="Yaw_rate_limiter" 	value="$(arg w_yaw)"/>		# Yaw rate limiter [rad/s]. Example: 0.8 rad/s --> 90 deg in 2 sec
		</include> 

		<!-- Global planner (Global theta* planner + Octomap global planner server + TF /map to /world) --> 
		<include file="$(find global_planner_3d)/launch/global_planner.launch">
			<arg name="odometry_topic" 					value="$(arg odometry_topic)" />
			<arg name="static_map_file" 				value="$(find theta_star)/resource/generated_catec_map.ot" /> # Examples: empty.bt, testbed_withoutFloor.bt
			<arg name="map_x_offset" 					value="0.0" />
			<arg name="map_y_offset" 					value="0.0" />
			<arg name="map_z_offset" 					value="0.0" />
			<arg name="output_topic_name" 				value="trajectory_tracking/input_trajectory" />
			<arg name="ws_x_max" 						value="8.0"/>		# workspace in world frame [meters]
			<arg name="ws_y_max" 						value="8.0"/>
			<arg name="ws_z_max" 						value="3.0"/>
			<arg name="ws_x_min" 						value="-8.0"/>
			<arg name="ws_y_min" 						value="-8.0"/>
			<arg name="ws_z_min" 						value="-0.0"/>
			<arg name="map_resolution" 					value="0.10"/>		# Discrete matrix resolution [meters]
			<arg name="map_h_real_size_inflaction" 		value="0.4"/>							# Obstacles inflaction for real UAV wingspan [meters]. Optimal: [0.4, 0.16] meters
			<arg name="map_v_real_size_inflaction" 		value="0.16"/>
			<arg name="map_h_safe_distance_inflaction" 	value="0.3"/>							# Obstacles inflaction for safe distance [meters]. Optimal: [0.8, 1.04] meters
			<arg name="map_v_safe_distance_inflaction" 	value="0.5"/>
			<arg name="initial_point_factor" 			value="0.1"/>		# Weight of the goal, as a distance from initial position factor, for the Lazy theta* with Optimz.[Minor than 1]
			<arg name="z_weight_cost" 					value="4.0"/>		# Weight of heigth changes 
			<arg name="traj_dxy_max" 					value="0.5"/>		# Maximum horizontal position increment [m] 
			<arg name="traj_dz_max" 					value="0.5"/>		# Maximum vertical position increment [m] 
			<arg name="traj_vxy_m" 						value="0.5"/>		# Horizontal velocity average [m/s] 
			<arg name="traj_vz_m" 						value="0.5"/>		# Vertical velocity average [m/s] 
			<arg name="traj_vxy_m_1" 					value="0.25"/>		# Horizontal velocity for the first and the last wp [m/s] 
			<arg name="traj_vz_m_1" 					value="0.25"/>		# Vertical velocity for the first and the last wp [m/s] 
			<arg name="traj_est_wy" 					value="$(arg w_yaw)"/>		# Yaw angular velocity to estimate the necessary time to achive a yaw reference [rad/s]
			<arg name="traj_yaw_mode" 					value="2"/>			# Trajectory yaw configuration: constant (0), at time (1), in advance (2)
		</include>
	</group>

	<!-- Simulator --> 
	<include file="$(find euroc_motion_planning_launch)/launch/simulator_linear_mpc.launch">
		<arg name="mav_name" 		value="$(arg mav_name)" />
		<arg name="gazebo_paused" 	value="false" />
	</include>

	<!-- RViZ -->
	<arg name="rviz_config_file" default="$(find global_planner_3d)/resource/neo/global_planner_rviz_sim.rviz"/>
	<node name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen" args="-d $(arg rviz_config_file)"/> 

	<!-- Plotting --> 
	<include file="$(find euroc_motion_planning_launch)/launch/plot.launch">
		<arg name="mav_name" value="$(arg mav_name)" />
	</include>
</launch>
